
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码 - 新片场</title>

    <link rel="stylesheet" href="https://passport.xinpianchang.com/css/common.css?v=1515157354">
    <link rel="stylesheet" href="https://passport.xinpianchang.com/css/element-ui.css">
    <script src="https://passport.xinpianchang.com/js/jquery-3.2.1.min.js"></script>
    <script src="https://passport.xinpianchang.com/js/phone_reg.js?v=1510802494"></script>
    <script src="https://passport.xinpianchang.com/js/common.js?v=1511094538"></script>
    </head>
<body>
<!-- 用户中心 - 新片场 -->

<!--     这是 master 的侧边栏。
 -->


<!-- <div class="top-notice dn">
    <p>账户系统已全面升级，使用过程中遇到问题请联系微信客服：微信小助手 id：lovexinpianchang <i class="icon-close-cross top-notice-close"></i></p>
</div> -->


<div class="passport-ground">
    <div class="ground-reconsitution clearfix">
        <div class="ground-z">

            <p>
                                只需一个账号<br><span>即可畅享新片场的所有产品和服务</span><br>
                <span class="logo-list">
                    <a href="http://www.xinpianchang.com/"><span></span></a>
                    <a href="http://www.vmovier.com/"><span></span></a>
                </span>
                            </p>


        </div>

        <div class="ground-y">
            <!-- <p class="welcome mark">欢迎使用新片场服务</p> -->
                <!-- <span>This is my body content.</span> -->
    <span class="form-action">
        <h4>忘记密码</h4>
        <!-- <a href="http://www.xinpianchang.com/"><img class="title-logo" src="../img/logo_2x.png" alt=""></a> -->


        <div class="action-item notice-action">
            <p>请输入与你的账号关联的电话号码，我们会给您发<br>送验证码来重置密码｡</p>
        </div>
        <div class="action-item" >

            <link rel="stylesheet" href="/css/flags.css?v=1499306837">
<div class="image-preload"></div>
<div class="phone-action"><span class="phone-select prefix_code" data-value="&#43;86">+86<i></i></span><input name="phone" type="text" placeholder="手机号" autocomplete="tel">
    <ul class="phone-list dn">


            <li class="cn" data-zone="+86"><i class="flag flag-cn"></i>China（中国大陆）+86</li>


            <li class="hk" data-zone="+852"><i class="flag flag-hk"></i>Hong Kong（中国香港）+852</li>


            <li class="mo" data-zone="+853"><i class="flag flag-mo"></i>Macau（中国澳门）+853</li>


            <li class="tw" data-zone="+886"><i class="flag flag-tw"></i>Taiwan（中国台湾）+886</li>


            <li class="us" data-zone="+1"><i class="flag flag-us"></i>United States（美国）+1</li>


            <li class="ar" data-zone="+54"><i class="flag flag-ar"></i>Argentina（阿根廷）+54</li>


            <li class="au" data-zone="+61"><i class="flag flag-au"></i>Australia（澳大利亚）+61</li>


            <li class="at" data-zone="+43"><i class="flag flag-at"></i>Austria（奥地利）+43</li>


            <li class="bs" data-zone="+1242"><i class="flag flag-bs"></i>Bahamas（巴哈马）+1242</li>


            <li class="by" data-zone="+375"><i class="flag flag-by"></i>Belarus（白俄罗斯）+375</li>


            <li class="be" data-zone="+32"><i class="flag flag-be"></i>Belgium（比利时）+32</li>


            <li class="bz" data-zone="+501"><i class="flag flag-bz"></i>Belize（伯利兹）+501</li>


            <li class="br" data-zone="+55"><i class="flag flag-br"></i>Brazil（巴西）+55</li>


            <li class="bg" data-zone="+359"><i class="flag flag-bg"></i>Bulgaria（保加利亚）+359</li>


            <li class="kh" data-zone="+855"><i class="flag flag-kh"></i>Cambodia（柬埔寨）+855</li>


            <li class="ca" data-zone="+1"><i class="flag flag-ca"></i>Canada（加拿大）+1</li>


            <li class="cl" data-zone="+56"><i class="flag flag-cl"></i>Chile（智利）+56</li>


            <li class="co" data-zone="+57"><i class="flag flag-co"></i>Colombia（哥伦比亚）+57</li>


            <li class="dk" data-zone="+45"><i class="flag flag-dk"></i>Denmark（丹麦）+45</li>


            <li class="eg" data-zone="+20"><i class="flag flag-eg"></i>Egypt（埃及）+20</li>


            <li class="ee" data-zone="+372"><i class="flag flag-ee"></i>Estonia（爱沙尼亚）+372</li>


            <li class="fi" data-zone="+358"><i class="flag flag-fi"></i>Finland（芬兰）+358</li>


            <li class="fr" data-zone="+33"><i class="flag flag-fr"></i>France（法国）+33</li>


            <li class="de" data-zone="+49"><i class="flag flag-de"></i>Germany（德国）+49</li>


            <li class="gr" data-zone="+30"><i class="flag flag-gr"></i>Greece（希腊）+30</li>


            <li class="hu" data-zone="+36"><i class="flag flag-hu"></i>Hungary（匈牙利）+36</li>


            <li class="in" data-zone="+91"><i class="flag flag-in"></i>India（印度）+91</li>


            <li class="id" data-zone="+62"><i class="flag flag-id"></i>Indonesia（印度尼西亚）+62</li>


            <li class="ie" data-zone="+353"><i class="flag flag-ie"></i>Ireland（爱尔兰）+353</li>


            <li class="il" data-zone="+972"><i class="flag flag-il"></i>Israel（以色列）+972</li>


            <li class="it" data-zone="+39"><i class="flag flag-it"></i>Italy（意大利）+39</li>


            <li class="jp" data-zone="+81"><i class="flag flag-jp"></i>Japan（日本）+81</li>


            <li class="jo" data-zone="+962"><i class="flag flag-jo"></i>Jordan（约旦）+962</li>


            <li class="kg" data-zone="+996"><i class="flag flag-kg"></i>Kyrgyzstan（吉尔吉斯斯坦）+996</li>


            <li class="lt" data-zone="+370"><i class="flag flag-lt"></i>Lithuania（立陶宛）+370</li>


            <li class="lu" data-zone="+352"><i class="flag flag-lu"></i>Luxembourg（卢森堡）+352</li>


            <li class="my" data-zone="+60"><i class="flag flag-my"></i>Malaysia（马来西亚）+60</li>


            <li class="mv" data-zone="+960"><i class="flag flag-mv"></i>Maldives（马尔代夫）+960</li>


            <li class="mx" data-zone="+52"><i class="flag flag-mx"></i>Mexico（墨西哥）+52</li>


            <li class="mn" data-zone="+976"><i class="flag flag-mn"></i>Mongolia（蒙古）+976</li>


            <li class="ma" data-zone="+212"><i class="flag flag-ma"></i>Morocco（摩洛哥）+212</li>


            <li class="nl" data-zone="+31"><i class="flag flag-nl"></i>Netherlands（荷兰）+31</li>


            <li class="nz" data-zone="+64"><i class="flag flag-nz"></i>New Zealand（新西兰）+64</li>


            <li class="ng" data-zone="+234"><i class="flag flag-ng"></i>Nigeria（尼日利亚）+234</li>


            <li class="no" data-zone="+47"><i class="flag flag-no"></i>Norway（挪威）+47</li>


            <li class="pa" data-zone="+507"><i class="flag flag-pa"></i>Panama（巴拿马）+507</li>


            <li class="pe" data-zone="+51"><i class="flag flag-pe"></i>Peru（秘鲁）+51</li>


            <li class="ph" data-zone="+63"><i class="flag flag-ph"></i>Philippines（菲律宾）+63</li>


            <li class="pl" data-zone="+48"><i class="flag flag-pl"></i>Poland（波兰）+48</li>


            <li class="pt" data-zone="+351"><i class="flag flag-pt"></i>Portugal（葡萄牙）+351</li>


            <li class="qa" data-zone="+974"><i class="flag flag-qa"></i>Qatar（卡塔尔）+974</li>


            <li class="ro" data-zone="+40"><i class="flag flag-ro"></i>Romania（罗马尼亚）+40</li>


            <li class="ru" data-zone="+7"><i class="flag flag-ru"></i>Russia（俄罗斯）+7</li>


            <li class="sa" data-zone="+966"><i class="flag flag-sa"></i>Saudi Arabia（沙特阿拉伯）+966</li>


            <li class="rs" data-zone="+381"><i class="flag flag-rs"></i>Serbia（塞尔维亚）+381</li>


            <li class="sc" data-zone="+248"><i class="flag flag-sc"></i>Seychelles（塞舌尔）+248</li>


            <li class="sg" data-zone="+65"><i class="flag flag-sg"></i>Singapore（新加坡）+65</li>


            <li class="za" data-zone="+27"><i class="flag flag-za"></i>South Africa（南非）+27</li>


            <li class="kr" data-zone="+82"><i class="flag flag-kr"></i>South Korea（韩国）+82</li>


            <li class="es" data-zone="+34"><i class="flag flag-es"></i>Spain（西班牙）+34</li>


            <li class="lk" data-zone="+94"><i class="flag flag-lk"></i>Sri Lanka（斯里兰卡）+94</li>


            <li class="se" data-zone="+46"><i class="flag flag-se"></i>Sweden（瑞典）+46</li>


            <li class="ch" data-zone="+41"><i class="flag flag-ch"></i>Switzerland（瑞士）+41</li>


            <li class="th" data-zone="+66"><i class="flag flag-th"></i>Thailand（泰国）+66</li>


            <li class="tn" data-zone="+216"><i class="flag flag-tn"></i>Tunisia（突尼斯）+216</li>


            <li class="tr" data-zone="+90"><i class="flag flag-tr"></i>Turkey（土耳其）+90</li>


            <li class="ua" data-zone="+380"><i class="flag flag-ua"></i>Ukraine（乌克兰）+380</li>


            <li class="ae" data-zone="+971"><i class="flag flag-ae"></i>United Arab Emirates（阿联酋）+971</li>


            <li class="gb" data-zone="+44"><i class="flag flag-gb"></i>United Kingdom（英国）+44</li>


            <li class="ve" data-zone="+58"><i class="flag flag-ve"></i>Venezuela（委内瑞拉）+58</li>


            <li class="vn" data-zone="+84"><i class="flag flag-vn"></i>Vietnam（越南）+84</li>


            <li class="vg" data-zone="+1284"><i class="flag flag-vg"></i>Virgin Islands, British（英属维尔京群岛）+1284</li>


    </ul>

</div>

<script>

    var _phoneSelect = $(".phone-select"),
        _phoneList = $(".phone-list"),
        _phoneListLi = $(".phone-list li");

    _phoneSelect.on("click",function(e) {
        if (_phoneList.hasClass("dn")) {
            _phoneList.removeClass("dn");
            fixLiFontSize(_phoneList);
        } else {
           _phoneList.addClass("dn");
        }

        return false;

    })

    // _phoneSelect.html("+86" + "<i></i>").data("value","+86");

    _phoneListLi.on("click",function(){
        var _this = $(this);

        _phoneListLi.removeClass("select");
        _this.addClass("select");
        prefix_code = _this.attr("data-zone");
        _phoneSelect.html(prefix_code + "<i></i>").attr("data-value",prefix_code);

        _phoneList.addClass("dn");

    })

    $("body").on("click",function(event){

        if(event.target.nodeName != "LI" && event.target.className != "phone-select prefix_code"){

            _phoneList.addClass("dn");

        }

    })

    function fixLiFontSize($ul) {
        getWidth($ul, function(width) {
            if (width) {
                width = $ul.find("li").eq(0).outerWidth();
                $ul.find("li").each(function() {
                    autoFixFontsize(this, width);
                });
            }
        });
    }

    function autoFixFontsize(li, width, liWidth, retry) {
        var $li = $(li);

        var w = $li.outerWidth();

        retry = retry || 0;
        retry++;
        if (retry > 10) return;

        if (!w || w == liWidth) {
            return setTimeout(autoFixFontsize, 8, li, width, w, retry);
        }

        if (w <= width) return;

        var size = parseInt($li.css('font-size'));
        var newSize = Math.round(size * 9.5) / 10;
        if (size > newSize) {
            $li.css('font-size', newSize + 'px');
            return setTimeout(autoFixFontsize, 8, li, width, w, retry);
        }
    }

    function getWidth($el, cb, retry) {
        var w = $el ? $el.width() : 0;
        if (w > 0) {
            cb(w);
        } else {
            retry = retry || 0;
            retry++;
            if (retry < 3) {
                setTimeout(getWidth, 8, $el, cb, retry);
            } else {
                cb(0);
            }
        }
    }

</script>
        </div>

        <div class="action-item">
            <div class="submit-btn send-identifying">发送验证码</div>
        </div>

        <div class="action-item notice-action">
            <p>未绑定手机的邮箱登录账号，找回密码 <a target="_blank" href="http://www.xinpianchang.com/user/forgetpwd">请前往<i style="font-size:12px;" class="el-icon-arrow-right"></i></a></p>
        </div>

        <div class="action-item">

            <p><a class="back-login" href="/?callback=http%3A%2F%2Fwww.xinpianchang.com%2F" >返回登录</a></p>

        </div>
    </span>

    <span class="form-action dn broadcast">
        <h4>验证手机</h4>
        <div class="action-item notice-action">

            <p>找回密码的账号为：<em class="prefix_code-omit"></em> <em class="phone-omit"></em> <a href="">修改</a></p>

        </div>
        <div class="action-item identifying-action">
            <input name="code" type="text" placeholder="手机验证码"><span class="identifying-achieve">获取验证码</span>
        </div>

        <div class="action-item">
            <div class="submit-btn check-phone">下一步</div>
        </div>

        <div class="action-item">

            <p><a class="back-login" href="/?callback=http%3A%2F%2Fwww.xinpianchang.com%2F" >返回登录</a></p>
                    </div>
    </span>

    <span class="form-action dn">
        <h4>重置密码</h4>
        <!-- <a href="http://www.xinpianchang.com/"><img class="title-logo" src="../img/logo_2x.png" alt=""></a> -->


        <div class="action-item">

            <input name="password" type="password" placeholder="设置密码，6～16位字母或数字">

        </div>
        <div class="action-item">

            <input name="reset_password" type="password" placeholder="重复输入密码">

        </div>

        <div class="action-item">
            <div class="submit-btn save">保存</div>
        </div>

        <div class="action-item">

            <p><a class="back-login" href="/?callback=http%3A%2F%2Fwww.xinpianchang.com%2F" >返回登录</a></p>
                    </div>
    </span>


    <script src="https://passport.xinpianchang.com/js/module/find_password.js?v=1515157354"></script>


        </div>
    </div>
        <p class="copyright mark">© 2017 新片场 All rights reserved.</p>

</div>

<style>
    /*.dialog-tip{position: absolute;color: #fff;z-index: 1000;opacity: 0;transition:all 1s;width: 100%;text-align: center;background-color: #e74b3b;height: 50px;line-height: 50px;transform:translateY(-50px);top:0;}
    .dialog-tip .tip-content{padding-left: 18px;background: url(../img/error-notice@3x.png) no-repeat;background-position: left;background-size: 14px;}
    .dialog-tip-show{opacity: 1;transform:translateY(0px);}*/
</style>
<div class="dialog-tip">

    <span class="tip-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览器版本过低，为了正常使用请升级浏览器，推荐使用Chrome浏览器</span>

</div>

<script>

    /*var dialogTipCallback;


    var _dialogTip = $(".dialog-tip");
    function showDialogTip(obj,callback){
        _dialogTip.addClass("dialog-tip-show");

        $(".tip-content").text(obj.content);

        setTimeout(function(){
            _dialogTip.removeClass("dialog-tip-show");
            (callback || function(){})()
        },2000)

        // dialogTipCallback = callback || function(){};

    }*/

    var noop = noop || function() {};
    var templete = $(".dialog-tip");

    function showDialogTip(obj, callback) {

        callback = callback || noop;
        //var type = obj.type || 'ERROR';
        var content = obj.content || (obj + '');
        var timeout = obj.timeout || 2500;

        // 每次showDialogTip，都要clone一个tip的模板，让每一次吐司都是独立的调用
        var tip = templete.clone().appendTo(document.body);
        tip.find(".tip-content").text(content);

        setTimeout(function() {

            // appendTo body 之后，需要一点时间（20ms,至少经过一个animate looper）来使得css生效
            // 然后再增加dialog-top-show，就能有css动画了

            tip.addClass("dialog-tip-show tip-" + (obj.type ? obj.type : "")).css("z-index",1000);

            setTimeout(function() {
                // timeout 后开始消失css动画
                tip.removeClass("dialog-tip-show");
                setTimeout(function() {
                    // 500ms css小时动画结束后，移出append的tip
                    tip.remove();
                }, 500);
                callback();
            }, timeout);
        }, 20);


    }

    // $(".close-know,.close").on("click",function(){

    //     _dialogTip.removeClass("opacity-1");
    //     setTimeout(function(){
    //         _dialogTip.addClass("dn");
    //     },1000)
    //     dialogTipCallback();
    //     // _body.removeClass("ovh");
    // })

</script>
<script>
    // if(!localStorage.getItem("top-notice-close")){
    //     $(".top-notice").removeClass("dn");
    // }
    // $(".top-notice-close").on("click",function(){
    //     $(".top-notice").addClass("dn");
    //     localStorage.setItem("top-notice-close",true);
    // })
    // $(".ground-reconsitution").height($(".form-action").height()).css({marginTop:""});
</script>
</body>
</html>